// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



:root{
  // fonts
  --font-primary:'Source Sans Pro', sans-serif;

  // Colors
  --color-purple: #B378FF;
  --color--blue:   #4F667C;
  --color--green:#38B5AA;

}