// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer__container{
    background-color: #265E6C;
    display: grid;
}

.footer__text{
    flex-basis: 50%;
    color: #fff;
    font-weight: 400;
    font-weight:lighter;
}
.footer__logo{
    justify-content: center;
    display: flex;
    column-gap: 70px;
    margin: 0 auto;
    padding: 3rem;
    grid-column-gap: 33px;
    flex-basis: 50%;
    text-align: left;
    align-self: center;
}
.footer__separacion{
    display: flex;
    justify-content: center;

}
.footer__separacion img{
    width: 1130px;
}
.footer__nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;

}
.footer__nav a{
    color: #fff;
}
.footer__nav a:hover{
   text-decoration:underline ;
}