
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
  height: 10vh;
  padding: 3rem 20rem;
}
// .nav__logo {
//   width: 63%;
// }
.nav__link {
    color: #000;
    font-size: 1.25rem;
}




// @media (min-width: 375px) {
//   .nav  {

//       grid-column-gap: 20px;

//       grid-row-gap: 10px;
//       display: grid;
//       grid-template-columns: 80px 200px auto;
//     height: 12vh;

   
//      }  
//      .header{
//       height: 34vh ;
//      } 
//      .header .header__wrap{
//       margin: 10px;
//      }
//   }