
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
  height: 10vh;
  padding: 3rem 20rem;
}
// .nav__logo {
//   width: 63%;
// }
.nav__link {
    color: #000;
    font-size: 1.25rem;
}




@media (max-width: 600px) {
  .nav  {
    padding: 3rem;
   
     }  

     .nav__logo{
      width: 100%;
     }
     .header{
      height: 0px ;
     } 
     .header .header__wrap{
      margin: 10px;
     }
  }